{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages()%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}
<h1>User List</h1>
<div class="container" id="marcado" class="col-md-4">
<br action="/add" method="post" >
    <div class="mb-9">
      <label for="exampleInputEmail1" class="form-label" >Nombre</label>
      <input type="text" class="form-control" required="true" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp">      
    </div>     
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" required="true" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Contraseña </label> <br>
        <input type="password" required="true" class="form-floating" name="password1" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Confirme Contraseña</label> <br>
        <input type="password" required="true" class="form-floating" name="password2" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    
      <div class="row">
         <div class='col-sm-3'>
            <div class="form-group">
               <div class='input-group date' id='datetimepicker5'>
                  <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha de cumpleaños</label> 
                    <input type='date' required="true" class="form-control" name="fecha"/>
                  </div>                  
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
               </div>
            </div>
         </div>
         <script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    defaultDate: "11/1/2013",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                });
            });
         </script>

    </div>
    <div class="mb-3">
      
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>   <br></br>
    
  </form>
</div>
  
  <br>
<div class="table-responsive">  
  <table class="table table-sm ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <!-- <th scope="col">Password</th> -->
        <th scope="col">Fecha de cumpleaños</th>
        <th scope="col">Operaciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{user.0}}</th>
        <td><a href="{{url_for('edit',id=user.0)}}">{{user.1}}</a></td>
        <td>{{user.2}}</td>
        <!-- <td>{{user.3}}</td> -->
        <td>{{user.4}}</td>
       <td><a class="btn btn-danger" href="{{url_for("delete",id=user.0)}}">Eliminar</a> <a class="btn btn-success" href="{{url_for("edit",id=user.0)}}">Editar</a> </td>       
      </tr>
      {% endfor%}     
    </tbody>
  </table>
</div>  


  
    
  
    
{% endblock %}